VITE_FRONT_URL='http://localhost:5173'
VITE_BACK_API_URL='http://localhost:4560'

BACK_ENV='development' # 'development' or 'production'
BACK_APP_NAME='Memo Minder'
BACK_APP_COMPANY_NAME='Memo Minder'
BACK_APP_AUTHOR_NAME='Anthony Lalba'
BACK_PORT=3000
BACK_BYPASS_AUTH=false
BACK_TOKEN_SECRET_KEY='secret'
BACK_TOKEN_EXPIRES_IN=14d
BACK_EMAIL_FROM=''
BACK_EMAIL_USER=''
BACK_EMAIL_PASSWORD=''
BACK_DATABASE_NAME='name'
BACK_DATABASE_USERNAME='username'
BACK_DATABASE_PASSWORD='password'