@import './base.css';

/* * {
    box-shadow: 0 0 0 3px red;
} */

/* DESKTOP */
@media (min-width: 1024px) {
    main {
        margin: 1rem 4rem;
        padding: 1rem 4rem;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        margin: 1rem 2rem;
        padding: 1rem 3rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    main {
        margin: 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem;
    }
}

main {
    min-height: 100vh;
}

section {
    padding: 1rem 0rem;
    margin: 1rem 0rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

hr {
    border: 0;
    border-top: 1px solid var(--gray);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
}

::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-light);
}

