:root {
    --primary: #76a9fa;
    --primary-light: #a6c8ff;

    --light: #ffffff;

    --light-gray: #9ca3af;
    --gray: #4b5563;
    --dark-gray: #374151;

    --light-dark: #1f2937;
    --dark: #111827;

    --light-success: #34d399;
    --success: #10b981;
    --dark-success: #047857;
    --light-warning: #fbbf24;
    --warning: #f59e0b;
    --dark-warning: #d97706;
    --light-danger: #ef4444;
    --danger: #dc2626;
    --dark-danger: #991b1b;

    --password-step-1: #dc2626;
    --password-step-2: #dc7e26;
    --password-step-3: #dcd926;
    --password-step-4: #78dc26;
    --password-step-5: #29af00;
}

/* Overload vue-toastification stuff */
.Vue-Toastification__toast {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
    font-family: "Poppins", "Roboto", sans-serif !important;
    border: solid 2px transparent !important;
    border-radius: 1rem !important;
}

.Vue-Toastification__toast--info {
    background-color: var(--gray) !important;
    color: var(--light) !important;
}

.Vue-Toastification__toast--success {
    background-color: var(--success) !important;
    color: var(--light) !important;
}

.Vue-Toastification__toast--warning {
    background-color: var(--warning) !important;
    color: var(--light) !important;
}

.Vue-Toastification__toast--error {
    background-color: var(--danger) !important;
    color: var(--light) !important;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "Poppins", "Roboto", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--light);
    background: var(--dark);
}